body {
    background-color: #5f84a2;
    margin: 0;
}

.header {
    background-color: #194569;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.logo {
    margin-right: 10em;
}


.mlist {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.2em 2em;
    border-style: solid;
    border-radius: 4cm;
    background-color: #5163ae;
}

#about {
    background-color: #dbecf4;
    border-top-left-radius: 4em;
    border-bottom-right-radius: 4em;
}
